body {
    background-color: #ffffff;
    font-family: arial,san-serif;
    font-size: 10px;
}

/*header */

.header {
    float: right;
    padding: 10px;
}

.header ul li{
    padding: 10px;
}

#sign-in {
    color: white;
    border: 1px solid #4285f4;
    font-weight: bold;
    background-color: #4285f4;
    border-radius: 5px;
    height: 30px;
    font-size: 1.5em;
}

/*lists, links */

ul li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #AAA;
}

/* center of page */

.center {
    text-align: center;
    padding-top: 200px;
}

.image {
    width: 272px;
}

#search-bar {
    width: 500px;
    height: 32px;
    margin: 10px;
    border-radius: 10px;
}

.buttons ul li {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: #EEE;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
}

.buttons ul li a {
    color: gray;
}

/* footer */

.footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #EEE;
    border-top: 1px solid #DDD;
}

.footer ul li {
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}
